[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
numpy = "*"
boto3 = "*"
flask = "*"
quart = "*"
openai = "*"
pandas = "*"
pymongo = "*"
openpyxl = "*"
requests = "*"
aws-wsgi = "*"
gunicorn = "*"
tiktoken = "*"
pyppeteer = "*"
starlette = "*"
quart-cors = "*"
flask-cors = "*"
flask_restful = "*"

[dev-packages]

[requires]
python_version = "3.13"
