[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
numpy = "*"
boto3 = "*"
flask = "*"
openai = "*"
pymongo = "*"
requests = "*"
aws-wsgi = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
