[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
openai = "*"
python-dotenv = "*"
pymongo = "*"
pytz = "*"
flask = "*"
flask-cors = "*"
awsgi = "*"

[dev-packages]

[requires]
python_version = "3.12"
